.w-full.flex.flex-wrap.items-center.bg-purple-900(class="pl-0 md:pl-10 py-10 lg:py-16 dark:bg-gray-600 transition-all duration-300 ease-in-out")
    .w-full(class="md:w-2/5 mb-10 md:mb-0")
        h1.font-bold.text-white(class="text-center md:text-left text-5xl md:text-6xl lg:text-8xl") Lorem Piscum Em
    .w-full.flex.flex-wrap.justify-center(class="md:w-3/5")
        img.h-80(src=require('../../assets/img/undraw_Designer_by46.svg').default, alt="designer")
