.w-full.flex.flex-wrap.items-center.bg-white(class="px-4 md:px-8 lg:px-16 py-24 md:py-10 lg:py-16 dark:bg-gray-900 transition-all duration-300 ease-in-out")
    .w-full(class="md:w-3/5 lg:w-1/2 mb-10 md:mb-0")
        h1.font-bold.font-serif(class="bg-clip-text text-transparent bg-gradient-to-br from-purple-200 via-purple-400 to-purple-700 dark:from-white dark:via-gray-300 dark:to-gray-500 text-center md:text-left text-5xl lg:text-8xl") Worem Piscum Em
        p(class="mt-6 md:mt-12 text-2xl md:text-3xl text-center md:text-left text-purple-700 dark:text-gray-300") Hello World my friends!!!
    .designer-banner.bg-contain.bg-no-repeat.bg-center.w-full.flex.flex-wrap(class="md:w-2/5 lg:w-1/2 justify-center md:justify-end h-40 md:h-80")
    .mt-12.w-full.flex.flex-wrap.justify-center.items-center(class="text-purple-800 dark:text-white")
        a(class="h-12 w-12 rounded-full flex flex-wrap justify-center items-center hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors duration-300 ease-in-out" href="#!" aria-label="next section")
            svg.feather.feather-chevron-down(class="h-10 w-10" xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='6 9 12 15 18 9')
